%h1 3. Finalise your intention to purchase
.info This is the gift you've confirmed your intention of purchasing.
%br
.box
  %h2= @gift.name
  .description= @gift.description
%br
%h3 You now need to check your email to finalise your intention of purchasing
.info You've been sent an email at the email address you entered, which contains a link you need to click in order for your intention to purchase this gift to be <em>finalised</em>.