- if @gifts and !@gifts.empty?
  %h1 1. Choose a gift
  .info This is a list of gifts you're currently able to confirm your intention of purchasing.
  %br

  - @gifts.each do |gift|
    .box
      -if has_auth?
        %a{:href => "/gift/#{gift.id}/edit", :style => "float: right;"}= "edit"
      %a{:href => "/gift/#{gift.id}"}
        %h2= gift.name
      .description= gift.description
- else
  %h2 Sadly, there aren't any gifts available right now!